* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}
body {
    font-family:  sans-serif ;
    /* background-color: red; */
    width: 100vw;
}
:root {
    --primary-color: #13C5DD;
    --font-color: #1D2A4D ;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto Condensed",sans-serif;
}
/* start header  */
.header {
    color : #848E9F!important;
}
.left-info {
    padding-top: 10px ;
    margin-left: 8.95rem;
    float: left;
    cursor: pointer;
}
.right-info {
    padding-top: 10px ;
    margin-right: 9.5rem;
    float: right;
    cursor: pointer;
}
.right-info i {
    padding: 5px;
}
.clr {
    clear: both;
}
/* end header  */
/* start navbar */
nav {
    /* position : sticky;
     top: 0;
     background-color: #fff; */
}
nav .left-nav {
    float: left;
    padding: 20px;
    color: var(--primary-color) ;
    margin-left: 7.5rem;
    font-size: 40px;
    cursor: pointer;
}
nav .left-nav .logo {
    text-transform: uppercase;
    font-weight: bold;
}
nav .right-nav {
    float: right;
    padding: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    margin-right: 4rem;
}
nav .right-nav span {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    top:8px;   
}

.navbar {
    overflow: hidden;
    background-color: rgb(194, 17, 17);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* .dropbtn {
    font-size: 16px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    background-color: transparent;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  .dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
 
  .dropdown:hover .dropdown-content {display: block;} */
  nav .right-nav span:hover   {
    color: #13C5DD;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
} 
 nav .clr {
    clear: both;
 }
/* end navbar */

/* start home */
.home {
     height: 65vh; 
     width: 100%;
    background-image:
   url(/assets/hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .left-home {
    float: left;
    margin-left: 7.5rem;
    width: 58%;
    padding: 20px;

}
.home .left-home span {
    color: var(--primary-color) ;
    text-transform: uppercase;
    font-weight: bold;
    font-size:20px;
}
.home .left-home h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.home .left-home .btn-one ,.home .left-home .btn-two {
    padding: 20px 40px ;
    color: #1D2A4D;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}
.home .left-home .btn-two {
    color:#fff;
    background-color: transparent;
    border: solid 1px;
    margin-left: 15px;
}
.home .left-home .btn-two:hover {
    color: #1D2A4D;
    background-color: #fff;
}

/* end home */

/* start about */
.about {
    margin-top: 6rem;
    /* width: 100vw; */
    /* background-color: #13C5DD; */
}
.about .left-about {
    width: 40%;
    height: 100%;
    float: left;
}
.about .left-about img {
    width: 80%;
    height: 500px;
    float: right;
    margin-left: 8.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
   
}
.about .right-about>span{
    color: var(--primary-color) ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-left: 3rem;
}
.about .right-about h2 {
    font-size: 55px;
    color: var(--font-color);
    margin-top: 1rem;
    margin-left:3rem;

}
.about .right-about p {
    font-size: 16px;
    color: #848E9F;
    margin: 1.5rem 12rem 1rem 3rem;
    line-height: 25px;
}
.icons-about {
    display: flex;
}
.icons-about div {
    margin-top: 2.5rem;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons-about>div{
    margin-left: 2.75rem;
    background-color: #EFF5F9 ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icons-about i {
    font-size: 45px;
    margin-bottom: 15px;
    color: var(--primary-color);
}
.icons-about div span {
   font-weight: bold;
}
.icons-about div .center {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
}
/* end about */

/*start sevices */
.services {
    margin-top: 6rem;
}
.services div.title {
    text-align: center;
    width: 700px;
    margin-left: 30%;
    margin-bottom: 6rem;
}
.services div>span{
    color: var(--primary-color) ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.services div h2{
    font-size: 55px;
    color: var(--font-color);
    margin-top: 1rem;
    text-transform: capitalize;
}
 .services div.service i{
    font-size: 45px;
    color: #fff ;
    transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    -o-transform: rotate(14deg);
}
.services div.service .icon {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 50%;
    transform: rotate(-14deg); 
    margin-left: 30%;
   
}
.services div.service h4 {
    font-size: 25px;
    color: var(--font-color);
    margin: 1rem 0 1rem 0;
}
.services div.service p {
    font-size: 16px;
    color: #848E9F;
    line-height: 25px;
    margin-bottom: 6rem;
}
.services .service {
    width: 400px;
    text-align: center;
    display: inline-block;
    margin-right:4rem;
    margin-bottom:2rem;
    background-color: #EFF5F9 ;
    padding: 45px 45px 0 45px ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-sizing: border-box;
}
.services .child {
    margin-left: 8.25rem
}

/*end sevices */


/* start apppointment */
.appointment {
    background: var(--primary-color);
}
.appointment .left-appoint {
    float: left;
    margin-left: 8rem;
    width: 38%;
    margin-top: 6.25rem;

}
.appointment .left-appoint span {
    color: #fff ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.appointment .left-appoint h2 {
    font-size: 50px;
    color: var(--font-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.appointment .left-appoint p {
    font-size: 16px;
    color: #fff;
    line-height: 25px;
    margin-bottom: 3rem;
}
.appointment .left-appoint .btn-one ,.appointment .left-appoint .btn-two {
    padding: 20px 40px ;
    color: #fff;
    background-color: #1D2A4D;
    border-radius: 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 8rem;
}
.appointment .left-appoint .btn-two {
    color:#1D2A4D;
    background-color: transparent;
    border: solid 1px;
    margin-left: 15px;
    
}
.appointment .left-appoint .btn-two:hover {
    color: #fff;
    background-color: #1D2A4D;
    border: none;
}
.appointment .right-appoint {
    float: left;
    background-color: #fff;
    width: 40%;
    height: 450px;
    padding: 20px;
    margin-top: 6rem;
    margin-left: 4rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.appointment .right-appoint .title {
    text-align: center;
    margin-top: 30px;
}
.appointment .right-appoint h2{
    font-size:35px;
    color: var(--font-color);
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 1rem;
}
.appointment .right-appoint form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.appointment .right-appoint select {
    margin:  0 0.75rem 0  0;
    padding:  15px;
    width: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: #EFF5F9 ;
    color: #848E9F;
    text-transform: capitalize;
    font-size: 18px;
}
.appointment .right-appoint select:focus{
    outline-color: #60eafc;
  }
.appointment .right-appoint select option{
   color: #848E9F;
   outline: var(--primary-color);
}
.appointment .right-appoint input  {
    margin: 2rem 1rem 0  0;
    padding:  15px;
    width: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: #EFF5F9 ;
    color: #848E9F;
    font-size: 18px;
}
.appointment .right-appoint button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 20px  10px ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 510px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin: 2rem 0 2rem -5px ;
}
/* end apppointment */

/* start packages */
.packages {
    margin-top: 6rem;
}
.packages div.title {
    text-align: center;
    width: 700px;
    margin-left: 27%;
    margin-bottom: 6rem;
}
.packages div>span{
    color: var(--primary-color) ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.packages div h2{
    font-size: 55px;
    color: var(--font-color);
    margin-top: 1rem;
    text-transform: capitalize;
}
.packages .packages-cards{
    width: 100%;
}
.packages .packages-cards .package-one  {
    width: 30%;
}
.packages .packages-cards .package-one .img {
    position: absolute;
    width: 25.4%;
    height: 270px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.packages .packages-cards .package-one .package-title {
    width: 25.3%;
    height: 250px;
    position: absolute;
    background: rgba(29, 42, 77, .8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    line-height: 1.2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.packages .packages-cards .package-one .package-title>h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.packages .packages-cards .package-one .package-title h4 {
    font-size: 55px;
}
.packages .packages-cards .package-one .package-title h4 sub ,
.packages .packages-cards .package-one .package-title h4 sup
 {
    font-size: 20px;
}

/* end packages */